body {
    font-family: 'Inter', sans-serif;
}

.fake-content-small {
    width: 100%;
    height: 20vh;
    background-color: lightcyan;
    margin-bottom: 2vh;
}

.fake-content-big {
    width: 100%;
    height: 100vh;
    background-color: lightcoral;
    margin-bottom: 2vh;
}

div.sticky {
    position: -webkit-sticky;
    /* Safari */
    position: sticky;
    top: 0;
}
